* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #fff, #dfdfdf);
    letter-spacing: 1px;
    font-family: var(--font-family);
}

a {
    color: unset;
    text-decoration: none;
}